Repository rapidsai/GaaS, pull requests merged in 2022-06, with the labels that each got.

#10 Updates to GaaS for PyG and DGL
  python/gaas_client/client.py
  python/gaas_client/gaas_thrift.py
  python/gaas_client/types.py
  python/gaas_server/gaas_handler.py
  python/tests/data.py
  python/tests/data/karate.csv
  python/tests/data/merchants.csv
  python/tests/data/referrals.csv
  python/tests/data/relationships.csv
  python/tests/data/taxpayers.csv
  python/tests/data/transactions.csv
  python/tests/data/users.csv
  python/tests/test_e2e.py
Labels: breaking, improvement, python

#12 Add Methods to Check Property Validity
  python/gaas_client/client.py
  python/gaas_client/gaas_thrift.py
  python/gaas_server/gaas_handler.py
Labels: non-breaking, python

#11 Updates to make server single-threaded
  python/gaas_client/gaas_thrift.py
  python/tests/client1_script.py
  python/tests/client2_script.py
  python/tests/multi_client_test_runner.sh
Labels: bug, non-breaking
